header.notification-header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    h1 {
        align-items: center;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        font: bold 20px $font;
        margin: 0;
        .unread-qnt {
            background: $blue;
            border-radius: 5px;
            color: $white;
            font-size: 12px;
            margin-left: 10px;
            padding: 3px 9px;
        }
    }
    button.btn-link {
        box-shadow: none;
        color: $dark_grayish_blue;
        font-size: 13px;
        padding: .375rem 0 .375rem .75rem;
        &:hover {
            color: $blue;
        }
    }
}

ul.notifications-list {
    margin: 0;
    padding: 0;
    list-style: none;
    li.notification {
        background-color: $white;
        border-radius: 5px;
        align-items: flex-start;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        margin: 5px 0;
        padding: 10px 20px;
        .user-avatar, .post-img{
            flex: 1 1 auto;
            height: auto;
            max-width: 45px;
        }
        .user-avatar {
            margin-right: 15px;
        }
        .notification-message {
            align-items: center;
            color: $dark_grayish_blue;
            flex: 1 1 auto;
            max-width: 89.8%;
            .notification-text {
                margin: 0;
                .name {
                    color: $very_dark_blue;
                    cursor: pointer;
                    margin-right: 5px;
                }
                .title {
                    color: $blue;
                    cursor: pointer;
                    margin-left: 5px;
                }
                .new-post-mark {
                    background: $red;
                    border-radius: 100px;
                    display: inline-block;
                    height: 7px;
                    width: 7px;
                }
                .time-post {
                    color: $grayish_blue;
                    display: block;
                }
            }
        }
        .post-img {
            margin-left: 15px;
        }
        .message {
            border-radius: 5px;
            background: $light_grayish_blue1;
            padding: .75rem 1.25rem;
            &:hover {
                background: $light_grayish_blue2;
            }
        }

        &.unread {
            background: $very_light_grayish_blue;
        }
    }
}